
    <footer>
        <div class="footer-row">
            <div class="footer_col">
                <h3>Info</h3>
                <ul class="Link">
                    <a href="">
                        <li>About Us</li>
                    </a>
                    <a href="">
                        <li>Compressions</li>
                    </a>
                    <a href="">
                        <li>Customers</li>
                    </a>
                    <a href="">
                        <li>Service</li>
                    </a>
                </ul>
            </div>
            <div class="footer_col">
                <h3>Explore</h3>
                <ul class="Link">
                    <a href="">
                        <li>Books</li>
                    </a>
                    <a href="">
                        <li>Art Skill</li>
                    </a>
                    <a href="">
                        <li>Old Books</li>
                    </a>
                    <a href="">
                        <li>New Update</li>
                    </a>
                </ul>
            </div>
            <div class="footer_col">
                <h3>Legal</h3>
                <ul class="Link">
                    <a href="">
                        <li href="">Policy</li>
                    </a>
                    <a href="">
                        <li href="">Security</li>
                    </a>
                    <a href="">
                        <li href="">Media</li>
                    </a>
                </ul>
            </div>
            <div class="footer_col">
                <h3>Newsletter</h3>
                    <p class="Pra">
                        Subscribe to our newsletter for a weekly dose of news, updates,
                        helpful tips, and exclusive offers.
                    </p>
                    <form action="/SendEmail", method="post">
                        <input type="text" placeholder="Enter your email" name="email"/>
                        <button class="btn-4" type="submit">Subscribe</button>
                    </form>
            </div>
        </div>
    </footer>